/1utgaveAvN3iregiavKS
/app.js
/const { pipeline } = require('@huggingfa.js
/local_model.js
/n3css.css
/node_modules
/package-lock.json
/package.json
/prosess.css
/prosess.html
/prosess.js
/server.js
/Skisse1 - Opplæring.pdf
/Skisse2 - Gjennomføring.pdf
/spritesheet-00ef576bc48fae6a5b927781043fa59b – Kopi.png
/spritesheet-00ef576bc48fae6a5b927781043fa59b.png